{:paths   ["src"]
 :deps    {org.clojure/clojure    {:mvn/version "1.9.0"}
           org.clojure/core.async {:mvn/version "0.4.474"}
           com.taoensso/encore    {:mvn/version "2.96.0"}
           net.cgrand/xforms      {:mvn/version "0.18.2"}
           clj-time               {:mvn/version "0.11.0"}
           cheshire               {:mvn/version "5.8.0"}
           ribelo/visby           {:git/url "https://github.com/ribelo/visby.git"
                                   :sha     "7209b3e384c4d3fdf5d5b0d5d06a18a18971398a"}}
 :aliases {:dev {:extra-deps {criterium                        {:mvn/version "0.4.4"}
                              org.apache.commons/commons-math3 {:mvn/version "3.6.1"}}}}}
