;; shadow-cljs configuration
{:deps         true
 :nrepl        {:port 7002}
 :source-paths ["src"]
 :builds       {:repl {:target    :node-script
                       :main      ribelo.wombat.repl/main
                       :output-to "dist/wombat.js"}}}
