;; shadow-cljs configuration
{:deps         true
 :source-paths ["src"]
 :nrepl        {:port 7002}
 :builds       {:repl {:target     :node-script
                       :main       ribelo.wombat.repl/main
                       :output-to "dist/wombat.js"}}}
